*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  background-attachment: fixed;
  font-family: Helvetica, Arial;
  cursor: url('../src/imgs/cursores/Pointer.png'), auto;
}
a{
  cursor: url('../src/imgs/cursores/Cursor2.png'), auto;
}
.global{
  border-radius: 20px;
  width: 65%;
  margin: 0px auto;
  margin-top: 30px;
  padding: 25px;
  background: #F8EAE9;
  box-shadow: 0px 0px 12px #C88CA1;
}
.clearfix{
  float: none;
  clear: both;
}
#posts{
  width: 60%;
  float: left;
}
.post{
  padding: 5px;
  overflow: auto;

}
h2{
  font-size: 35px;
  color: #333;
}
.post .date{
  display: block;
  color: gray;
  margin-top: 5px;
}
.post p{
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: justify;
}
.button-plus{
  border-radius: 20px;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 10px;
  background-color: #d979b6;
  text-decoration: none;
  width: 70px;
  float: right;
}

#sidebar{
  width: 31%;
  float: right;
}
#sidebar h4{
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 25px;
  color: #333;
  background: url("../src/imgs/lines.png") repeat;
}
#sidebar h4 span{
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}
#sidebar img{
  width: 100%;
  border-radius: 20px;
}
#sidebar p{
  font-size: 15px;
  text-align: justify;
}

form textarea,
form input[type="text"],
form input[type="email"],
form input[type="password"]{
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #F8EAE9;
  width: 96%;
  margin-bottom: 10px;
  margin-top: 5px;
  box-shadow: 0px 0px 2px #d979b6;
  background-color: #F8EAE9;
}

form textarea{
  resize: none;
  overflow: hidden;
  height: 200px;
}

#button-submit{
  cursor: url('../src/imgs/cursores/Cursor2.png'), auto;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  float: center;
  width: 30%;
  position: relative;
  left: 35%;
}