@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  background-attachment: fixed;
  font-family: "Work Sans", serif;
  cursor: url('https://i.postimg.cc/Ss4ccLkQ/Pointer.png'), auto;
}
a{
  cursor: url('https://i.postimg.cc/kgVNCXTC/Cursor2.png'), auto;
}
.global{
  border-radius: 1em;
  width: 70vw;
  margin: 0px auto;
  margin-top: 2em;
  padding: 1.5em;
  background: rgba(248, 234, 233, 0.5);
  box-shadow: 0px 0px 12px #C88CA1;
}
.clearfix{
  float: none;
  clear: both;
}
#posts{
  background: rgba(248, 234, 233, 0.9);
  padding: 1em;
  border-radius: 2em;
  width: 58%;
  float: left;
}
.post{
  padding: 0.3em;
}
h2{
  font-size: 2.2em;
  color: #333;
}
.post .date{
  display: block;
  color: gray;
  margin-top: 0.2em;
}
.post p{
  margin-top: 0.6em;
  line-height: 1.3em;
  text-align: justify;
}
.button-plus{
  color: white;
  border-radius: 20px;
  margin-top: 1em;
  text-align: center;
  display: block;
  padding: 0.6em;
  background-color: #d979b6;
  text-decoration: none;
  width: 15%;
  float: right;
}
#sidebar{
  background: rgba(248, 234, 233, 0.9);
  padding: 1em;
  border: solid 1px #FBC5D8;
  border-radius: 2em;
  width: 32%;
  float: right;
}
#sidebar h4{
  border-radius: 20px;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: 1.7em;
  color: #333;
  background: url("../src/imgs/lines.png") repeat;
}
#sidebar h4 span{
  border-radius: 20px;
  background-color: white;
  padding: 0.6em;
}
#sidebar img{
  width: 100%;
  border-radius: 20px;
}
#sidebar p{
  margin-top: 1em;
  text-align: justify;
}

form textarea,
form input[type="text"],
form input[type="email"],
form input[type="password"]{
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #F8EAE9;
  width: 96%;
  margin-bottom: 0.6em;
  margin-top: 5px;
  box-shadow: 0px 0px 2px #d979b6;
  background-color: #F8EAE9;
}

form textarea{
  resize: none;
  overflow: hidden;
  height: 200px;
}

#button-submit{
  cursor: url('https://i.postimg.cc/kgVNCXTC/Cursor2.png'), auto;
  background-color: white;
  padding: 0.6em;
  border: 1px solid white;
  border-radius: 20px;
  float: center;
  width: 30%;
  position: relative;
  left: 35%;
}
.linkextra{
  cursor: url('https://i.postimg.cc/Ss4ccLkQ/Pointer.png'), auto;
  color: white;
  text-decoration: none;
}
.linkextra:hover{
  text-decoration: underline;
  color: #ffceed;
}
.links-header{
  text-align: center;
  color: #F8EAE9;
  text-decoration: none;
  padding-left: 3.33em;
  padding-right: 3.33em;
  font-weight: 400;
}

/* Responsive */
@media only screen and (max-width:420px){
  .global{
    margin-top: 2.2em;
    width: 80vw;
  }
  .links-header{
    padding: 0 1em;
    font-size: 0.8rem;
  }
  #posts{
    width: 72vw;
    height: 40vh;
    overflow: scroll;
  }
  h2{
    font-size: 1rem;
  }
  .post .date{
    font-size: 0.8rem;
  }
  .post p{
    font-size: 0.8rem;
  }
  .button-plus{
    width: 25%;
  }
  #sidebar{
    width: 72vw;
    margin-top: 2em;
  }
  #sidebar h4 span{
    font-size: 0.8rem;
  }
  #sidebar h4{
    line-height: 1em;
  }
  #sidebar p{
    font-size: 0.8rem;
  }
}